In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from alpha_vantage.timeseries import TimeSeries

In [ ]:
api_key = 'GZ6PMA77OKTY8X96'

# Initializing
ts = TimeSeries(key=api_key, output_format='pandas')

# Fetching full daily historical data
data, meta_data = ts.get_daily(symbol='GOOG', outputsize='full')

# Converting index to datetime
data.index = pd.to_datetime(data.index)
data = data.sort_index()
filtered_data = data.loc["2015-01-01":"2025-07-14"]

filtered_data = filtered_data.rename(columns={
    '1. open': 'open',
    '2. high': 'high',
    '3. low': 'low',
    '4. close': 'close',
    '5. volume': 'volume'
})

# Reset index to have 'Date' as a column
filtered_data = filtered_data.reset_index().rename(columns={'date': 'Date'})
filtered_data.head()

        Date    open     high     low   close     volume
0 2015-01-02  529.01  531.270  524.10  524.81  1446662.0
1 2015-01-05  523.26  524.330  513.06  513.87  2054238.0
2 2015-01-06  515.00  516.175  501.05  501.96  2891950.0
3 2015-01-07  507.00  507.244  499.65  501.10  2059366.0
4 2015-01-08  497.99  503.480  491.00  502.68  3344395.0